<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Metabeskrivelse">
	<title><%= site.name %></title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="manifest" href="/manifest.webmanifest">
	<style>
	body {
    font-family: 'Pontano Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
.adminSiteHeader {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
		background-color: orange;
		height: 2em;
	}
	
.adminSiteHeader a{
		text-decoration: none;
		color: #000;
		font-size: 1.3em;
	}
	.main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2em;
    min-height: 76.5vh;
}

.siteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    height: 10vh;
    border-radius: 0 90px 90px 90px;
    box-shadow: #000 2px 2px;
    -webkit-border-radius: 0 90px 90px 90px;
    -moz-border-radius: 0 90px 90px 90px;
    -ms-border-radius: 0 90px 90px 90px;
    -o-border-radius: 0 90px 90px 90px;
}
	
	</style>
</head>
<body>
	<div id="wrapper">