<% if (loggedIn != false) { %>
	<div class="adminSiteHeader">
		<div class="adminHeaderLogo"><a href="/admin">Gå til backend</a></div>
		<div class="adminHeaderLogout"><a href="/auth/logout">LOG UD <i class="fas fa-sign-out-alt"></i></a></div>
	</div>
<% } %>
<a tabindex="0" id="jumpToContent" href="#maincontent">Spring til indhold</a> 
<header class="siteHeader" role="banner">
	<div class="headerText">
		<a class="topText" href="/"><%= site.name %></a>
		<p class="description"><%= site.description %></p>
	</div>
	<% include ../partials/navigation.ejs %>
</header>