<nav class="adminPrimaryNavigation" role="navigation">
	<ul id="myAdminSidenav">
		<h3>Indstillinger</h3>
		<li class="adminLinkContainer"><a class="adminLink" href="/admin"><i class="fas fa-home"></i> Forside/Indstillinger</a></li>
		<hr>
		<!-- <h3>Media</h3>
		<li class="adminLinkContainer"><a class="adminLink" href="/admin/billeder"><i class="far fa-images"></i> Media</a></li>
		<hr> -->
		<h3>Generelt indhold</h3>
		<li class="adminLinkContainer"><a class="adminLink" href="/admin/menu"><i class="fas fa-bars"></i> Menuen</a></li>
		<li class="adminLinkContainer"><a class="adminLink" href="/admin/kategorier"><i class="fas fa-list-ul"></i> Kategorier</a></li>
		<hr>
		<h3>Indhold</h3>
		<li class="adminLinkContainer"><a class="adminLink" href="/admin/sider"><i class="fas fa-sitemap"></i> sider</a></li>
		<li class="adminLinkContainer"><a class="adminLink" href="/admin/produkter"><i class="fas fa-box"></i> Produkter</a></li>
		<li class="adminLinkContainer"><a class="adminLink" href="/admin/artikler"><i class="fas fa-book"></i> Artikler</a></li>
		<hr>
		<h3>Brugere</h3>
		<li class="adminLinkContainer"><a class="adminLink" href="/admin/brugere"><i class="fas fa-user"></i> Brugere</a></li>
		<hr>
	</ul>
</nav>
