<div id="adminWrapper">
<header class="adminSiteHeader">
	<div class="adminHeaderLogo"><a href="/">Gå til frontend</a></div>
	<div class="adminHeaderLogout"><a href="/auth/logout">LOG UD <i class="fas fa-sign-out-alt"></i></a></div>
</header>