<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Metabeskrivelse">
	<title><%= site.name %></title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="manifest" href="/manifest.webmanifest">
	<style>
	body {
    font-family: 'Pontano Sans', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #adminWrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 20px minmax(15em, auto);
    }

    .adminSiteHeader {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: orange;
    }

    .adminPrimaryNavigation {
        grid-column: 1/2;
        grid-row: 2/-1;
        background-color: greenyellow;
        height: 98vh;
    }

    .adminPage {
        grid-column: 2/-1;
        grid-row: 2/-1;
        padding: 2em;
    }
	</style>
</head>
<body>